<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Doing Good Together</h5>
            <p class="grey-text text-lighten-4">Empowering families to raise caring, engaged children by offering unique programs and events, valuable services, and fun activities that promote kindness and giving.</p>

        </div>
        <!-- <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
        </div> -->
        <div class="col l3 s12 center-align">
            <h5 class="white-text">Connect</h5>
              <a class="white-text social-icons" href="http://www.facebook.com/doinggoodtogether" target="_blank"><img src="/assets/images/fb_icon.png"></a>
              <a class="white-text social-icons" href="http://www.pinterest.com/bigheartedfams/" target="_blank"><img src="/assets/images/pinterest_icon.png"></a>
              <a class="white-text social-icons" href="https://twitter.com/doinggoodtgthr" target="_blank"><img src="/assets/images/twitter_icon.png"></a>
              <a class="white-text social-icons" href="https://plus.google.com/u/0/102062824962742445918/about" target="_blank"><img src="/assets/images/gplus_icon.png"></a>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container center-align">
        <a class="white-text footer-link" href="http://www.doinggoodtogether.org/">Doing Good Together</a>
        <a class="white-text footer-city">Minneapolis, MN, USA</a>
        <a class="white-text footer-email" href="mailto:mail@DoingGoodTogether.org">mail@DoingGoodTogether.org</a>
    </div>
</div>
