<nav class="teal" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src="server/public/assets/images/dgt_logo.jpg"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#landingpage">Home</a></li>
      <li><a href="#communityroom">Community Room</a></li>
      <li><a href="#tracker">Our Progress</a></li>
      <li><a href="#profile">Our Profile</a></li>

    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
