<ul id="dropdown1" class="dropdown-content">
  <li><a href="#tracker">Do Good Dozen</a></li>
  <li><a href="#badges">Badges</a></li>



</ul>
<nav class="teal" role="navigation" ng-controller="navController">
  <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo"><img src="/assets/images/dgt_logo.jpg"></a>
    <a href="#!" class="brand-logo"></a>
    <ul ng-show="navUser" class="right hide-on-med-and-down">
      <li><a href="#landingpage">Home</a></li>
      <li><a href="#communityroom">Community Room</a></li>


      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#profile" data-activates="dropdown1">Our Profile<i class="material-icons right">arrow_drop_down</i></a></li>
      <li ng-show="navUser.is_admin"><a href="#admin">Administration</a></li>
      <li><a href="#login" ng-click="logout()">Log Out</a></li>
    </ul>

    <!-- <a data-sidenav="left" data-activates="nav-mobile" class="waves-effect waves-light button-collapse"><i class="material-icons">menu</i>
      <ul class="side-nav fixed" id="data-activates">
          <a href="#!" class="waves-effect waves-teal">First Sidebar Link</a>
        </ul>
    </a> -->

  </div>
</nav>
