<div ng-cloak class="container">
    <section class="row">
        <h3 class="center-align">Welcome to the Community Room!</h3>
        <div class="row">
            <div class="col s10 push-s1">
                <div id="our-posts">
                    <nav class="z-depth-0 card_header">
                        <div class="nav-wrapper">
                            <a class="brand-logo card_title">Create New Post</a>
                            <form>
                            </form>
                        </div>
                    </nav>
                    <div class="container">
                        <form ng-submit="sendPost(post)">
                            <textarea class="validate materialize-textarea" id="textarea2" maxlength="8000" placeholder="Tell us about your family or project!" ng-model="post.description" required></textarea>
                              <div class="btn-floating btn-large file-field">
                                  <span class="upload-button"><i class="material-icons">portrait</i></span>
                                  <input type="file" />
                              </div>
                              <label class="label">Upload a picture</label>
                            <input type="checkbox" id="test6" name="dgd" ng-model="post.dgd" />
                            <label class="switch" for="test6">Do Good Dozen accomplishment?</label>
                            <div>
                                <div class="switch">
                                    <label>
                                        No
                                        <input type="checkbox">
                                        <span class="lever"></span> Yes
                                    </label>

                                    <label class="label">Post this anonymously?</label>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Post
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
    </section>
    <div class="row">
        <div class="col s10 push-s1">
            <section class="displayallposts">
                <div class="post" ng-repeat="post in communityPosts track by $index">
                    <div class="individualposts">
                        <nav class="z-depth-0 card_header">
                            <div class="nav-wrapper">
                                <a class="brand-logo card_title">{{post.username}}</a>
                                <form>
                                </form>
                            </div>
                        </nav>
                        <div class="post_container container">
                            <img width="150" ng-init="initMaterialbox()" materialboxed class="materialboxed responsive-img post-picture" src="/assets/images/dgt_logo.jpg" />
                            </br>
                            <p class="post_description">{{post.description}}</p>
                            <a class="waves-effect waves-teal btn"><i class="material-icons left">thumb_up</i><span>{{post.likes.length}}</span></a>
                            <p ng-show="post.flagged">Flagged: {{post.flagged}}</p>
                        </div>
                        <div class="row post_buttons_container">
                            <div class="section">
                                <button id="button" class="waves-effect waves-light btn like-post" ng-click="likePost(post)"><i class="material-icons right">thumb_up</i>Like Post</button>
                                <button id="button" class="waves-effect waves-light btn flag-post" ng-click="flagPost(post)"><i class="material-icons right">flag</i>Flag Post</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </section>
    </div>
    </div>
    </div>
</div>
</div>
