<div class="container">
  <h1 class="lead">Login</h1>
    <h1 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2>
    <form ng-submit="login()">
      <div class= "input-field col s6">
          <input type="text" placeholder="Username" ng-model="user.username" autocomplete="off" />
      </div>
      <div class= "input-field col s6">
          <input type="password" placeholder="Password" ng-model="user.password" autocomplete="off" />
      </div>
      <div>
          <button class="waves-effect waves-light btn" type="submit" name="submit" value="Log In">Submit</button>
          <a href="#register">Register</a>
      </div>
    </form>
</div>
