<div id="landingPage" class="container">
  <h3 id="welcome" class="lead center">Welcome, {{user.username}}!</h3>
  <!-- <div class="row" ng-repeat="organization in organizationsArray">
    <section class="col s4">
      <h5>{{organization.description}}</h5>
    </section>
  </div> -->


  <div class="row individualposts hoverable">
    <section class="col s6 individualdownload">
      <h5 ng-hide="editableDownloads" ng-model="download1.title">{{download1.title}}</h5>
      <label ng-show="editableDownloads" for="download name">Download Name</label>
      <input ng-show="editableDownloads" type="text" ng-model="download1.title" />
      <label ng-show="editableDownloads" for="upload">Put the whole download file here</label>
      <input ng-show="editableDownloads" type="file" name="file" file></input>
      <p ng-hide="editableDownloads" ng-model="download1.description">{{download1.description}}</p>
    </br><label ng-show="editableDownloads" for="download description">Brief description:</label>
      <textarea class="materialize-textarea" ng-show="editableDownloads" ng-model="download1.description" placeholder="Type a brief description of the download" maxlength="2500"></textarea>
    </br><a href="{{download1.link}}" ng-model="download1.link" download>Download here</a>
      <button ng-show="editableDownloads" ng-click="saveDownloadInfo(download1)">Save</button>
    </section>
    <section class="col s6 individualdownload">
      <h5 ng-hide="editableDownloads" ng-model="download2.title">{{download2.title}}</h5>
      <label ng-show="editableDownloads" for="download name">Download Name</label>
      <input ng-show="editableDownloads" type="text" ng-model="download2.title" />
      <label ng-show="editableDownloads" for="upload">Put the whole download file here</label>
      <input ng-show="editableDownloads" type="file" name="file" file></input>
      <p ng-hide="editableDownloads" ng-model="download2.description">{{download2.description}}</p>
    </br><label ng-show="editableDownloads" for="download description">Brief description:</label>
      <textarea class="materialize-textarea" ng-show="editableDownloads" ng-model="download2.description" placeholder="Type a brief description of the download" maxlength="2500"></textarea>
    </br><a href="{{download2.link}}" ng-model="download2.link" download>Download here</a>
      <button ng-show="editableDownloads" ng-click="saveDownloadInfo(download2)">Save</button>
    </section>
  </div>
  <button class="btn waves-effect waves-light center" ng-show="user.is_admin" ng-click="editDownloads()">Edit Downloads</button>


  <div class="row individualposts hoverable">
    <div class="col s4">
      <div>
        <h5 ng-hide="visible">{{organization1.name}}</h5>
        <label ng-show="visible" for="organization1 name">Organization Name</label>
        <input ng-show="visible" type="text" ng-model="organization1.name" />
      </br><img class="imagesize" ng-src="{{organization1.image}}" />
        <input ng-show="visible" type="file" name="file" file></input>
        </br><a ng-hide="visible" target="_blank" href="{{organization1.link}}">Find out more!</a><input type="text" ng-model="organization.link" ng-show="visible" placeholder="Put a link to the organization here" />
          <p ng-hide="visible">{{organization1.description}}</p>
          <label ng-show="visible" for="organization description">Brief description:</label>
          <textarea class="materialize-textarea" ng-show="visible" ng-model="organization1.description" placeholder="Type a brief description of the organization" maxlength="2500"></textarea>
          <button class="btn waves-effect waves-light" ng-show="visible" ng-click="saveOrgInfo(organization1)">save</button>
      </div>
    </div>
    <div class=" col s4">
      <div class="individualorganizations">
        <h5 ng-hide="visible">{{organization2.name}}</h5>
        <label ng-show="visible" for="organization2 name">Organization Name</label>
        <input ng-show="visible" type="text" ng-model="organization2.name" />
        <img class="imagesize" ng-src="{{organization2.image}}" />
        <input ng-show="visible" type="file" name="file" file></input>
        </br><a ng-hide="visible" target="_blank" href="{{organization2.link}}">Find out more!</a><input type="text" ng-model="organization.link" ng-show="visible" placeholder="Put a link to the organization here" />
          <p ng-hide="visible">{{organization2.description}}</p>
          <label ng-show="visible" for="organization description">Brief description:</label>
          <textarea class="materialize-textarea" ng-show="visible" ng-model="organization2.description" placeholder="Type a brief description of the organization" maxlength="2500"></textarea>
          <button class="btn waves-effect waves-light" ng-show="visible" ng-click="saveOrgInfo(organization2)">save</button>
      </div>
    </div>
    <div class="col s4">
      <div class="individualorganizations">
        <h5 ng-hide="visible">{{organization3.name}}</h5>
        <label ng-show="visible" for="organization3 name">Organization Name</label>
        <input ng-show="visible" type="text" ng-model="organization3.name" />
        <img class="imagesize" ng-src="{{organization3.image}}" />
        <input ng-show="visible" type="file" name="file" file></input>
      </br><a ng-hide="visible" target="_blank" href="{{organization3.link}}">Find out more!</a><input type="text" ng-model="organization.link" ng-show="visible" placeholder="Put a link to the organization here" />
          <p ng-hide="visible">{{organization3.description}}</p>
          <label ng-show="visible" for="organization description">Brief description:</label>
          <textarea class="materialize-textarea" ng-show="visible" ng-model="organization3.description" placeholder="Type a brief description of the organization" maxlength="2500"></textarea>
          <button class="btn waves-effect waves-light" ng-show="visible" ng-click="saveOrgInfo(organization3)">save</button>
      </div>
    </div>
  </div>
  <button id="editbutton" class="btn waves-effect waves-light center" ng-show="user.is_admin" ng-click="visibility(visible3)">edit organizations</button>
</div>
