<div class="row profile-picture">
    <div class="section col s8">
        <div class="section card">
            <img materialboxed class="materialboxed responsive-img" width="300" src="/assets/images/Quinn Nelson +.jpg" />
        </div>
        <form action="#">
            <div class="file-field input-field">
                <div class="btn">
                    <span class="upload-button">Upload Picture</span>
                    <input type="file" ng-model="user.profilepicture">
                </div>
                </br>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row new-post">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea" class="materialize-textarea"></textarea>
                <label for="textarea">Tell us about your project!</label>
            </div>
        </div>
    </form>
</div>
</div>
