<div class="container row our-profile">
    <div class="section col s4">
        <div class="section">
            <img materialboxed class="materialboxed responsive-img profile-picture" width="300" src="/assets/images/Quinn Nelson +.jpg" />
        </div>
        <form>
            <div class="btn file-field">
                <span class="upload-button">Upload Picture</span>
                <input type="file" />
                <input class="file-path validate" type="text" ng-model="user.profilepicture">
            </div>
        </form>
        <div class="section family-info">
          <div class="container">
            <h5 class="center-align">Our Family Members</h5>
            <h6 class="section" ng-show="visible" ng-model="user.family_members">{{user.family_members}}</h6>
            <textarea class="materialize-textarea" ng-show="edit" ng-model="user.family_members" onclick="this.focus();this.select()"></textarea>
            <div class="divider"></div>
            <h5 class="center-align">About Us</h5>
            <h6 class="section" ng-show="visible" ng-model="user.about_us">{{user.about_us}}</h6>
            <textarea class="materialize-textarea" ng-show="edit" ng-model="user.about_us" onclick="this.focus();this.select()"></textarea>
            <div class="divider"></div>
            <h5 class="center-align">Our Projects</h5>
            <h6 class="section" ng-show="visible" ng-model="user.our_projects">{{user.our_projects}}</h6>
            <textarea class="materialize-textarea" ng-show="edit" ng-model="user.our_projects" onclick="this.focus();this.select()"></textarea>
            <div class="divider"></div>
            <h5 class="center-align">Our Badges</h5>
            
            <div class="family-info-buttons center-align">
                <button class="waves-effect waves-light btn" ng-click="toggle()" ng-show="visible">Edit</button>
                <button class="waves-effect waves-light btn" ng-click="toggle()" ng-show="edit">Save</button>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col s7 push-s3">
          <div class="post-input">
            <h3>{{userName}}'s Profile</h3>
        </div>
        <div class="col s12" id="our-posts">
            <h5>Create New Post</h5>
            <form ng-submit="sendPost(post)">
                <textarea class="validate materialize-textarea" id="textarea2" maxlength="8000" placeholder="Tell us about your family or project!" ng-model="post.description" required></textarea>

                <div class="btn file-field">
                    <span>Upload a picture!</span>
                    <input type="file" />
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" />
                </div>
                <input type="checkbox" id="test6" name="dgd" ng-model="post.dgd" />
                <label for="test6">Is this a Do Good Dozen accomplishment?</label>

                <div>
                    <p>Post this anonymously?</p>
                    <div class="switch">
                        <label>
                            Off
                            <input type="checkbox">
                            <span class="lever"></span> On
                        </label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Post
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
        <div class="row">
        <div class="col s12">
        <section class="display_profile_posts">
          <div ng-repeat="post in profilePosts track by $index">
            <div class="individual_profile_posts">
              <img class="profile-picture" src="{{post.image}}" />
              <span class="postsusername">{{post.username}}</span>
              <p>{{post.description}}</p>
              <p>likes: {{post.likes}}</p>
            </div>
          </div>
        </section>
        </div>
        </div>
      </div>
    </div>
</div>
