<div class="row our-profile">
    <div class="section col s12 m8 push-m2 l3">
        <div class="section">
            <img class="responsive-img hoverable profile-picture modal-trigger" href="#picture_modal" width="400" ng-src="{{user.image}}" />
            <div id="picture_modal" class="modal">
                <div class="col s12 modal-content picture_modal valign-wrapper">
                    <img class="responsive-img zoom_picture valign" href="#picture-modal" ng-src="{{user.image}}" />
                </div>
            </div>
        </div>
        <div class="section">
            <form class="center-align upload-button">
                <div class="btn-floating btn-large file-field">
                    <span><i class="material-icons">portrait</i></span>
                    <input type="file" />
                </div>
                </br>
                <label>Change your picture</label>
            </form>
        </div>
        <div class="section hoverable family-info">
            <nav class="z-depth-0 card_header_family_info">
                <div class="nav-wrapper">
                    <form>
                    </form>
                </div>
            </nav>
            <div class="container">
                <h5 class="center-align">Our Family Members</h5>
                <h6 class="section" ng-show="visible" ng-model="user.family_members">{{user.family_members}}</h6>
                <textarea class="materialize-textarea" ng-show="edit" ng-model="user.family_members" onclick="this.focus();this.select()"></textarea>
                <div class="divider"></div>
                <h5 class="center-align">About Us</h5>
                <h6 class="section" ng-show="visible" ng-model="user.about_us">{{user.about_us}}</h6>
                <textarea class="materialize-textarea" ng-show="edit" ng-model="user.about_us" onclick="this.focus();this.select()"></textarea>
                <div class="divider"></div>
                <h5 class="center-align">Our Projects</h5>
                <h6 class="section" ng-show="visible" ng-model="user.our_projects">{{user.our_projects}}</h6>
                <textarea class="materialize-textarea" ng-show="edit" ng-model="user.our_projects" onclick="this.focus();this.select()"></textarea>
                <div class="divider"></div>
                <h5 class="center-align">Our Badges</h5>
                <div class "row">
                    <img class="center-align hoverable responsive-img small_badges" src="/assets/images/small_badge2.png" />
                    <img class="center-align hoverable responsive-img small_badges" src="/assets/images/small_badge3.png" />
                    <img class="center-align hoverable responsive-img small_badges" src="/assets/images/small_badge4.png" />
                    <img class="center-align hoverable responsive-img small_badges" src="/assets/images/small_badge5.png" />
                    <img class="center-align hoverable responsive-img small_badges" src="/assets/images/small_badge6.png" />
                    <img class="center-align hoverable responsive-img small_badges" src="/assets/images/small_badge7.png" />
                </div>
                <div class="family-info-buttons center-align">
                    <button class="waves-effect waves-light btn" ng-click="toggle()" ng-show="visible">Edit<i class="material-icons right">edit</i></button>
                    <button class="waves-effect waves-light btn" ng-click="toggle()" ng-show="edit">Save<i class="material-icons right">save</i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l9">
            <div class="center-align post-input">
                <h3>{{user.firstname}}'s Profile</h3>
            </div>
            <div class="new_post_container container">
                <div id="our-posts">
                    <nav class="z-depth-0 card_header">
                        <div class="nav-wrapper">
                            <a class="brand-logo card_title">Create New Post</a>
                            <form>
                            </form>
                        </div>
                    </nav>
                    <div class="container new_post_container">
                        <form ng-submit="sendPost(post)">
                            <textarea class="validate materialize-textarea" id="textarea2" maxlength="8000" placeholder="Tell us about your family or project!" ng-model="post.description" required></textarea>
                            <div class="col l7 push-l6 m7 push-m5 s6 push-s5 center-align">
                                <div class="section">
                                    <label class="label">Post this anonymously?</label>
                                    <div class="switch">
                                        <label>
                                            No
                                            <input type="checkbox">
                                            <span class="lever"></span>Yes
                                        </label>
                                    </div>
                                </div>
                                <input type="checkbox" id="test6" name="dgd" ng-model="post.dgd" />
                                <label class="switch" for="test6">Do Good Dozen accomplishment?</label>
                                <button class="btn waves-effect waves-light post_button" type="submit" name="action">Post
                                    <i class="material-icons right">send</i>
                                </button>
                                <div ng-show="loading" class="progress">
                                    <div ng-show="loading" class="indeterminate"></div>
                                </div>
                            </div>
                            <div class="col l5 pull-l7 s4 pull-s7 center-align">
                                <div class="section">
                                    <img width="150" height="150" ng-init="initMaterialbox()" materialboxed class="responsive-img hoverable post-picture" ng-src="/assets/images/Quinn Nelson +.jpg" />
                                </div>
                                <div class="btn-floating btn-large file-field">
                                    <span class="upload-button"><i class="material-icons">portrait</i></span>
                                    <input type="file" name="file" file></input>
                                </div>
                                <label class="label">Upload a picture</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m10 push-m1 l8 push-l2">
                    <section class="display_profile_posts">
                        <div ng-repeat="post in profilePosts | orderBy: '-postedDate'">
                            <div class="hoverable individual_profile_posts">
                                <nav class="z-depth-0 card_header our_post_card_header">
                                    <div class="nav-wrapper">
                                        <a class="brand-logo card_title_date">{{post.postedDate | date : 'EEEE, MMMM d, y'}}</a>
                                        <form>
                                        </form>
                                    </div>
                                </nav>
                                <div class="post_container container">

                                    <img width="150" ng-init="initMaterialbox()" materialboxed class="materialboxed responsive-img post-picture" ng-src="{{post.image}}" />
                                    </br>
                                    <p class="post_description">{{post.description}}</p>
                                    <a class="waves-effect waves-teal btn"><i class="material-icons left">thumb_up</i><span>{{post.likes.length}}</span></a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
