<div class="container">
    <div class="row">
        <div >
            <h4 class="center-align" id="DGD" >Doing Good Dozen Tracker! Complete 12 Family <a class ="tracker-link" src="http://www.doinggoodtogether.org/bhf/pick-a-project/">Acts of Kindness</a> in 12 Months</h4>
        </div>
    </div>

    <div class="row">
        <div class="center-align" class="col s12">
            <img class="tracker-image responsive-img" ng-show="image1" src="/assets/images/DGDgameboardstart.png" />
            <img class="tracker-image responsive-img" ng-show="image2" src="/assets/images/DGDgameboardone.png" />
            <img class="tracker-image responsive-img" ng-show="image3" src="/assets/images/DGDgameboardtwo.png" />
            <img class="tracker-image responsive-img" ng-show="image4" src="/assets/images/DGDgameboardthree.png" />
            <img class="tracker-image responsive-img" ng-show="image5" src="/assets/images/DGDgameboardfour.png" />
            <img class="tracker-image responsive-img" ng-show="image6" src="/assets/images/DGDgameboardfive.png" />
            <img class="tracker-image responsive-img" ng-show="image7" src="/assets/images/DGDgameboardsix.png" />
            <img class="tracker-image responsive-img" ng-show="image8" src="/assets/images/DGDgameboardseven.png" />
            <img class="tracker-image responsive-img" ng-show="image9" src="/assets/images/DGDgameboardeight.png" />
            <img class="tracker-image responsive-img" ng-show="image10" src="/assets/images/DGDgameboardnine.png" />
            <img class="tracker-image responsive-img" ng-show="image11" src="/assets/images/DGDgameboardten.png" />
            <img class="tracker-image responsive-img" ng-show="image12" src="/assets/images/DGDgameboardeleven.png" />
            <img class="tracker-image responsive-img" ng-show="image13" src="/assets/images/DGDgameboardtwelve.png" />

        </div>
    </div>
  </div>
