<!-- <div class="container">
    <div class="row">
        <div class="col s12">
            <h3 id="DGD">Doing Good Dozen Tracker</h3>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col s12">
            <img ng-show="image1" src="/assets/images/DGDgameboardstart.png" />
            <img ng-show="image2" src="/assets/images/DGDgameboardone.png" />
            <img ng-show="image3" src="/assets/images/DGDgameboardtwo.png" />
            <img ng-show="image4" src="/assets/images/DGDgameboardthree.png" />
            <img ng-show="image5" src="/assets/images/DGDgameboardfour.png" />
            <img ng-show="image6" src="/assets/images/DGDgameboardfive.png" />
            <img ng-show="image7" src="/assets/images/DGDgameboardsix.png" />
            <img ng-show="image8" src="/assets/images/DGDgameboardseven.png" />
            <img ng-show="image9" src="/assets/images/DGDgameboardeight.png" />
            <img ng-show="image10" src="/assets/images/DGDgameboardnine.png" />
            <img ng-show="image11" src="/assets/images/DGDgameboardten.png" />
            <img ng-show="image12" src="/assets/images/DGDgameboardeleven.png" />
            <img ng-show="image13" src="/assets/images/DGDgameboardtwelve.png" />

        </div>
    </div>
</div>
